@import "../../vars.css";

.container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: var(--color-dark);
  box-shadow: 0 16px 14px 0 #04152d;
  padding: 18px 24px;
  max-width: 345px;
  justify-content: center;
  align-items: center;
}

.container:nth-child(3){
  .skill{
    font-size: 20.6px;
  }
}

.image {
  margin-bottom: 26px;
  width: 304px;
  height: 175px;
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 8px;
}

.title {
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 1px;
}

.description {
  margin-top: 6px;
  font-size: 25px;
  font-weight: 400;
  text-align: start;
}

.skills {
  width: 100%;
  margin-top: 14px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6px;
  list-style: none;
}

.skill {
  font-size: 25px;
  font-weight: 400;
  border-radius: 100px;
  background: var(--color-dark);
  padding: 2px 22px;
}

.links {
  width: 100%;
  margin-top: 26px;
  display: flex;
  justify-content: space-around;
}

.link {
  text-decoration: none;
  color: var(--color-text);
  font-size: 30px;
  font-weight: 600;
  border-radius: 100px;
  background: var(--color-primary);
  padding: 1px 22px;
  transition: 0.3s ease-in-out;
}
.link:hover{
  color: lightgreen;
}